#canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
}

h3{
    top: 2%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    color: black;
}
p{
    top: 5%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    color: #000000;
}

#b_b{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#b_b button{
    margin: 20px;
}